@page
@model CO5227_Assignment.Pages.adminPortalModel
@{
}

<div class="text-center">
    <h1 class="display-5 pb-4">Admin Portal</h1>
    <a asp-page="/AdminMenu/Index"><button class="btn btn-dark btn-lg px-5 py-3 mt-3">Admin View of Menu</button></a>
    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2F2228246.win.studentwebserver.co.uk%2FCO5227"><button class="btn btn-dark btn-lg px-5 py-3 mt-3">Validate HTML</button></a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2F2228246.win.studentwebserver.co.uk%2FCO5227+&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en"><button class="btn btn-dark btn-lg px-5 py-3 mt-3">Validate CSS</button></a>
</div>


