@page
@model CO5227_Assignment.Pages.adminPortalModel
@{
}

<div class="text-center">
    <h1 class="display-5">Admin Portal</h1>
    <a asp-page="/MenuFolder/Index"><button class="btn btn-dark btn-lg px-5 py-3 mt-3">Admin View of Menu</button></a>
</div>


