@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body id ="bgcolor">
    <div id = "image-container">
        <img src="../img/oishiisushi_index_bg_img.jpg" class="img-fluid pb-3" alt="Delicious sushi on a table" />
        <div id="main-image-text"><h1 id = "h1-font-size-increase"class="display-7" >Japanese Restaurant and Bar</h1></div>
    </div>
    
    <div class="text-center">
    <h1 id = "spaced-heading" class="display-5">Discover Oishii</h1>
    <p>Sushi... £1</a>.</p>
</div>
</body>

