@page
@model CO5227_Assignment.Pages.userMenuModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/userMenu.css" />
</head>
<body>


<div class="text-center p-5">
    <h1 class="display-5">Menu</h1>


    <div class="container">
        @for (int i = 0; i < Model.MenuItems.Count; i += 2)
        {
                <div class="row mb-4">
                @for (int j = i; j < i + 2 && j < Model.MenuItems.Count; j++)
                {
                    var item = Model.MenuItems[j];

                    <div class="col-md-6 text-center">
                        <a asp-page="/MenuFolder/Details" asp-route-id="@item.itemID">
                            @{
                                try
                                {
                                    
                                        <img id="hovering" class="img-fluid py-4" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.imgData))" alt="@item.imgDescription" />
                                        
                                }
                                catch
                                {

                                        <img id="hovering" class="img-fluid" src="~/img/noimg.png" alt="No image found" />
                                    
                                }
                            }
                        </a>
                        <div>
                                <h5 >@Html.DisplayFor(modelItem => item.itemName)</h5>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
</body>