@page
@model CO5227_Assignment.Pages.AdminMenu.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/details.css" />
</head>
<div class="container-fluid text-center">
    <h1 class="text-center mt-3">@Model.MenuItems.itemName</h1>
    <ul class ="list-group list-group-horizontal ">
            <div id="description" class="text-end mx-5 mt-5 px-3">
                <ul>
                        <h3>Description</h3>
                        <p>@Model.MenuItems.description</p>
                        <h4>£@Model.MenuItems.price</h4>
                @if(Model.MenuItems.special == true)
                {
                    <p id="special"><em>This is an Oishii Special!</em></p>
                }
            </ul>
            </div>
        <div class="text-center">
                @{
                    try
                    {

                        <img id="hovering" class="img-fluid py-4" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.MenuItems.imgData))" alt="@Model.MenuItems.imgDescription" />

                    }
                    catch
                    {

                        <img id="hovering" class="img-fluid" src="~/img/noimg.png" alt="No image found" />

                    }
                }
            </div>
    </ul>


    
    
    <hr />

    <a asp-page="/userMenu"><button class="btn btn-dark btn-lg px-5 py-3 my-3">Return to menu</button></a>
</div>

