@using Microsoft.AspNetCore.Identity
@using CO5227_Assignment.Models
@using CO5227_Assignment.Data;
@inject UserManager<IdentityUser> UserManager
@inject CO5227_AssignmentContext Context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oishii Sushi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CO5227_Assignment.styles.css" asp-append-version="true" />
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" id="title"asp-area="" asp-page="/Index">Oishii Sushi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/userMenuIndex">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                        @{
                            var inAdminRole = User.IsInRole("Admin");
                            if(inAdminRole){
                                <li class="nav-item">
                                    <a class="nav-link text-grey" asp-area="" asp-page="/adminPortal">Admin Portal</a>
                                </li>
                            }
                        }
                        
                    </ul>
                    <li class="navbar-nav flex-grow-2">
                        <partial name="_LoginPartial" />
                        

                        @{
                            //The below code will only display the basket button in the header if the user exists and is in the CheckoutCustomers table 
                            //(admin isnt in this table)
                            var user = await UserManager.GetUserAsync(User);
                            if (user != null)
                            {
                                CheckoutCustomer customer = await Context.CheckoutCustomers.FindAsync(user.Email);
                                if(customer!=null)
                                {
                                    <a asp-page="/Checkout"><button class="btn btn-outline-secondary navbar-btn mt-2">Basket</button></a>
                                }
                                
                            }
                        }
                            
                        
                        
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <p class="bg-warning text-center py-2"><strong>DISCLAIMERS</strong>: Admin does not have a basket (register to buy items), HTML/CSS validation is only available on admin account.</p>
    <div class="container container-fluid ">
    <main>
        
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </main>








    </div>
</body>
<div>
    <footer id="footer" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top bg-black">
        <div class="col pb-3 ">
            <a class="text-decoration-none" asp-page="/Home"><h1 class="mx-5 text-white"><strong>oishii</strong></h1>  </a>
            <a class="text-decoration-none" asp-page="/Home"><h1 class="mx-5 text-white"><strong>sushi</strong></h1>  </a>
        </div>
        <div class="col pb-3 ">
        </div>


        <div class="col pb-3 ">
            <h5><strong class="text-white mx-5">Order</strong></h5>
            <ul class="nav flex-column">
                <li class="nav-item pb-2 mx-5"><a asp-page="/Home" class="nav-link p-0 text-body-secondary text-decoration-none text-white">home</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/userMenuIndex" class="nav-link p-0 text-body-secondary text-decoration-none text-white">menu</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/Basket" class="nav-link p-0 text-body-secondary text-decoration-none text-white">basket</a></li>
            </ul>
        </div>


        <div id="manage-footer-background" class="col pb-3 ">
            <h5><strong class="text-white mx-5">Manage</strong></h5>
            <ul class="nav flex-column">
                <li class="nav-item pb-2 mx-5"><a asp-page="/Contact" class="nav-link p-0 text-body-secondary text-decoration-none text-white">contact us</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/About" class="nav-link p-0 text-body-secondary text-decoration-none text-white">about us</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-area="Identity" asp-page="/Account/Login" class="nav-link p-0 text-body-secondary text-decoration-none text-white">login</a></li>
            </ul>
        </div>

        @{
            var isAdminRole = User.IsInRole("Admin");
            if (isAdminRole)
            {
                <div id="admin-footer-background" class="col pb-3">
                    <h5><strong class="text-white mx-5">Admin</strong></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item pb-2 mx-5 "><a asp-page="/adminPortal" class="nav-link p-0 text-body-secondary text-decoration-none text-white">admin portal</a></li>
                        <li class="nav-item pb-2 mx-5 "><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2F2228246.win.studentwebserver.co.uk%2FCO5227" class="nav-link p-0 text-body-secondary text-decoration-none text-white">validate HTML</a></li>
                        <li class="nav-item pb-2 mx-5 "><a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2F2228246.win.studentwebserver.co.uk%2FCO5227+&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" class="nav-link p-0 text-body-secondary text-decoration-none text-white">validate CSS</a></li>

                    </ul>
                </div>
            }
        }




    </footer>
</div>
        


    


</html>


