<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oishii Sushi</title>
    <link rel="stylesheet" href="~/css/layout.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CO5227_Assignment.styles.css" asp-append-version="true" />
</head>
<body id = "index_body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" id="title"asp-area="" asp-page="/Index">Oishii Sushi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                        
                    </ul>
                    <li class="navbar-nav flex-grow-2">
                        <a href="/Login"><button class="btn btn-outline-secondary navbar-btn margin-right-xs me-3">Log in</button></a>
                        <a href="/Basket"><button class="btn btn-outline-secondary navbar-btn">Basket</button></a>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main  role="main" >
            @RenderBody()
        </main>
    </div>
    

    


    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top bg-black">
       <div class="col pb-3 ">
          <a class = "text-decoration-none" asp-page = "/Home"><h1 class ="mx-5 text-white"><strong>oishii</strong></h1>  </a>
          <a class = "text-decoration-none" asp-page = "/Home"><h1 class ="mx-5 text-white"><strong>sushi</strong></h1>  </a>
        </div>
            <div class="col pb-3 ">
            </div>


            <div class="col pb-3 ">
              <h5><strong class = "text-white mx-5">Order</strong></h5>
              <ul class="nav flex-column">
                <li class="nav-item pb-2 mx-5"><a asp-page="/Home" class="nav-link p-0 text-body-secondary text-decoration-none text-white">home</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/Menu" class="nav-link p-0 text-body-secondary text-decoration-none text-white">menu</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/Basket" class="nav-link p-0 text-body-secondary text-decoration-none text-white">basket</a></li>
              </ul>
            </div>


            <div class="col pb-3 ">
              <h5><strong class = "text-white mx-5">Manage</strong></h5>
              <ul class="nav flex-column">
                <li class="nav-item pb-2 mx-5"><a asp-page="/Contact" class="nav-link p-0 text-body-secondary text-decoration-none text-white">contact us</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/About" class="nav-link p-0 text-body-secondary text-decoration-none text-white">about us</a></li>
                <li class="nav-item pb-2 mx-5"><a asp-page="/Login" class="nav-link p-0 text-body-secondary text-decoration-none text-white">log in</a></li>
              </ul>
            </div>


            <div class="col pb-3">
              <h5><strong class = "text-white mx-5">Admin</strong></h5>
              <ul class="nav flex-column">
                <li class="nav-item pb-2 mx-5 "><a asp-page="#" class="nav-link p-0 text-body-secondary text-decoration-none text-white">admin access</a></li>

              </ul>
            </div>


  </footer>