#spaced-heading{
    letter-spacing: .9rem;
}

#image-container {
    position: relative;
    text-align: center;
    color: white;
}

#main-image-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: .9rem;
    
}

#main-image-button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1-font-size-increase {
    font-size: 300%;
}

#img:hover {
    background-color: red;
    opacity: 0.5;
}
