@page
@using CO5227_Assignment.wwwroot.Models
@model CO5227_Assignment.Pages.MenuFolder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit existing item</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuItems.itemID" />
            <div class="form-group">
                <label asp-for="MenuItems.storeID" class="control-label"></label>
                <input asp-for="MenuItems.storeID" class="form-control" />
                <span asp-validation-for="MenuItems.storeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.itemName" class="control-label"></label>
                <input asp-for="MenuItems.itemName" class="form-control" />
                <span asp-validation-for="MenuItems.itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.description" class="control-label"></label>
                <input asp-for="MenuItems.description" class="form-control" />
                <span asp-validation-for="MenuItems.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.price" class="control-label"></label>
                <input asp-for="MenuItems.price" class="form-control" />
                <span asp-validation-for="MenuItems.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.category" class="control-label"></label>
                <select asp-for="MenuItems.category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
                <span asp-validation-for="MenuItems.category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.allergens" class="control-label"></label>
                <select asp-for="MenuItems.allergens" asp-items="Html.GetEnumSelectList<Allergens>()" class="form-control"></select>
                <span asp-validation-for="MenuItems.allergens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.dietryRequirements" class="control-label"></label>
                <select asp-for="MenuItems.dietryRequirements" asp-items="Html.GetEnumSelectList<Diet>()" class="form-control"></select>
                <span asp-validation-for="MenuItems.dietryRequirements" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MenuItems.special" /> @Html.DisplayNameFor(model => model.MenuItems.special)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.imgDescription" class="control-label text-danger">Image Description (Alt Text)</label>
                <input asp-for="MenuItems.imgDescription" class="form-control" />
            </div>

            <div class="form-group p-3">
                <label asp-for="MenuItems.imgData" class="control-label text-danger">Image Upload</label>

                <input type="file" id="file1"
                       name="file1"
                       multiple="multiple" />
            </div>
            <h3 class="text-black fw-bold">CANNOT EDIT IMAGES IN CURRENT STATE</h3>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <a asp-page="./Index"><button class ="my-4">Back to menu list</button></a>
    </div>

    


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
